<div class="purchase-list data-list">
  <h3>Purchases</h3>
  <table mat-table [dataSource]="purchases">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let purchase"> {{purchases.id}} </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let purchase"> {{purchase.address}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let purchase"> {{purchase.description}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let purchase"> {{purchase.status}} </td>
    </ng-container>
    <ng-container matColumnDef="sendingdate">
      <th mat-header-cell *matHeaderCellDef> Sending date </th>
      <td mat-cell *matCellDef="let purchase"> {{purchase.sendingdate.date }} </td>
    </ng-container>
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef> Client </th>
      <td mat-cell *matCellDef="let purchase"> {{purchase.client.name }} {{ purchase.client.lastname }} </td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</div>
