<div class="clients-list data-list">
  <h3>Clients</h3>
  <table mat-table [dataSource]="clients">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let client"> {{client.id}} </td>
    </ng-container>
    <ng-container matColumnDef="clientName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let client"> {{client.name}} </td>
    </ng-container>
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let client"> {{client.lastname}} </td>
    </ng-container>
    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let client"> {{client.mail}} </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let client"> {{client.phone}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let client"> <button mat-raised-button color="warn" (click)="deleteClient(client.id)">Delete</button> </td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table> 

  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="">
          <input matInput placeholder="Client name" formControlName="name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="">
          <input matInput placeholder="Client last name" formControlName="lastname">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="">
          <input matInput placeholder="Client phone number" formControlName="phonenumber">
      </mat-form-field>
      </div>
    <div>
      <mat-form-field class="">
          <input matInput type="email" placeholder="Client email" formControlName="mail">
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" color="primary">Add client</button>
  </form>
</div>
