<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Witam w {{ title }}!
  </h1>
  
  <mat-tab-group>
    <mat-tab label="Clients">
      <app-client></app-client>
    </mat-tab>
    <mat-tab label="Products">
      <app-product-list></app-product-list>
    </mat-tab>
    <mat-tab label="Purchases">
      <app-purchase-list></app-purchase-list>
    </mat-tab>
  </mat-tab-group>

</div>



