<div class="product-list data-list">
  <h3>Products</h3>
  <table mat-table [dataSource]="products">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let product"> {{product.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let product"> {{product.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let product"> {{product.description}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let product"> {{product.price}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let product"> <button mat-raised-button color="warn" (click)="deleteProduct(product.id)">Delete</button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="">
          <input matInput placeholder="Product name" formControlName="name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="">
          <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="">
          <input matInput placeholder="Price" formControlName="price">
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" color="primary">Add product</button>
  </form>
</div>
