/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.data-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}